.menu {
  background: $blackPearl;
  //   background: green;
  color: $white;
  padding: 0 calc((100vw-1300px) / 2);
  width: 100vw;
  min-height: 100vh;
  border: chartreuse;
  // transform: translateY(-5%);

  h1 {
    padding-top: 30px;
    font-size: clamp(2rem 2.5vw, 5rem);
    margin-bottom: 5rem;
    text-align: center;
  }

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;

    &-card {
      line-height: 2;
      margin: 0 2rem;
      width: 300px;

      img {
        height: 300px;
        min-width: 300px;
        max-width: 100%;
        box-shadow: 8px 8px $yellow;
      }

      &-info {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        text-align: center;
      }
    }
  }
}

.menu-title {
  color: $sand;
  font-size: 1.5rem;
  font-weight: 400;
}

.menu-desc {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.menu-price {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
