nav {
  background-color: transparent;
  height: 100px;
  display: flex;
  justify-content: center;
  font-weight: 700;
}

.nav-brand {
  color: #fff;
  font-family: "Bodoni Moda", serif;
  font-size: 3rem;
  font-style: italic;
  font-weight: 800;
  display: flex;
  align-items: baseline;
  padding-top: 10px;

  @media (max-width: 400px) {
    position: absolute;
    top: 20px;
    left: 25px;
  }
}

.nav-menu {
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: absolute;
  border: 1px;
  padding: 20px;
  top: 0;
  right: 0;
  cursor: pointer;

  p {
    font-size: 1.2rem;
    font-weight: 800;
    padding-right: 20px;
  }

  i {
    font-size: 2rem;
    padding-top: 20px;
  }
}

.sidebar {
  background: $yellow;
  height: 100%;
  width: 350px;
  display: grid;
  align-items: flex-start;
  top: 0;
  right: -100%;
  transition: $smooth;
  position: fixed;
  z-index: 999;
  @media (max-width: 400px) {
    width: 100%;
  }

  &.active {
    right: 0;
    transition: $smooth;
  }

  &-close {
    background: transparent;
    font-size: 2rem;
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
  }

  &-menu {
    margin-top: 80px;
    text-align: center;
    ul {
      list-style: none;
      padding-left: 0;
    }
    li {
      font-weight: 400;
      padding-top: 40px;
      a {
        font-size: 1.3rem;
        transition: $smooth;
      }
      a:hover {
        color: $red;
      }
    }
  }

  &-order {
    margin-top: 80px;
    display: flex;
    justify-content: center;

    &-link {
      color: $white;
      background: $red;
      padding: 16px 60px;
      transition: $smooth;
      &:hover {
        background: $black;
      }
    }
  }
}
